.codelite
tags
Makefile
sra_clicker.workspace
sra_clicker/Debug
sra_clicker/Release
sra_clicker/sra_clicker.mk
sra_clicker/sra_clicker.project
sra_clicker/sra_clicker.txt
sra_clicker/compile_flags.txt
sra_clicker/prof
*.bmp